<div class="page-container">
  <!-- import slider component -->
    <app-sidebar></app-sidebar>
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <!-- import nav bar component -->
        <app-navbar></app-navbar>
        <!-- import breadcrumb component -->
        <app-breadcrumb></app-breadcrumb>

        <div class="page-content-wrap">              
            <!-- input here -->
          <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> -->
          
          <div>
            <table id="customers">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Type</th>
                  <th>Customer Name</th>
                  <th>Email</th>
                  <th>Telephone</th>
                  <th>Address</th>
                  <th>State</th>
                  <!-- <th>Payment</th> -->
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let ins of bookinglist.reverse()  | paginate: { itemsPerPage: 8, currentPage: p }" (click)="checked(ins)">
                <td>{{ins._id}}</td>
                <td>{{ins.bookingtype}}</td>
                <td>{{ins.customername}}</td>
                <td>{{ins.email}}</td>
                <td>{{ins.contact}}</td>
                <td>{{ins.address}}</td>
                <td>{{ins.state}}</td>
                <!-- <td>{{ins.ispaid}}</td> -->
                <td>
                    <a class="action-btn" >
                      <!-- <i class="material-icons" (click)="openDialog()">View</i> -->
                      <button mat-raised-button (click)="openDialog(ins._id)">View</button>
                    </a>
                    <a class="action-btn">
                      <button mat-raised-button id="ins._id+''" (click)="changeState(ins)">Close</button>
                      <!-- <i class="material-icons" >Close</i> -->
                    </a>
                  </td>
              </tr>
            </table>
            <div class="row">
              <div class="col-md-12 text-center">
                  <div class="text-center">
                      <pagination-controls
                      class="my-pagination"
                      (pageChange)="p = $event"
                      ></pagination-controls>
                  </div>
              </div>
          </div>
          </div>
        </div>                             
    </div>            
</div>