<app-ca-nav></app-ca-nav>
<div class="column1">
    
    <app-ca-sidenav></app-ca-sidenav>
  </div>
  <div class="column1">
  <div class="main">
      <div class="row" >
          <table id="customers" >
             
              <thead>
                <tr>
                  <th>Products</th>
                  <!-- <th>Quantity</th> -->
                  
                   
                   
                   <!-- <th></th> -->
                </tr>
              </thead>
              <tr *ngFor="let ins of UserProfileService.order | paginate: { itemsPerPage: 6, currentPage: p }"> 
                <td>{{ins.namelist}}</td>
                <!-- <td>2</td> -->
                
                
              </tr>
              
            </table>
            <div class="row">
              <div class="col-md-12 text-center">
                  <div class="text-center">
                      <pagination-controls
                      class="my-pagination"
                      (pageChange)="p = $event"
                      ></pagination-controls>
                  </div>
              </div>
          </div>
        </div></div></div>
  <!--<app-ins-nav-bar></app-ins-nav-bar>-->
  <!-- import footer comonent -->
  <app-footer></app-footer>