
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    <body>
    
    <div class="sidenav">
      <a routerLink="food-order" routerLinkActive="active">Add Food</a><br><br>

      <a routerLink="/history" routerLinkActive="active">History</a><br><br>
      <!-- <a routerLink="/instructor/notification" routerLinkActive="active">Notification</a> -->
    </div>
    
    <!--<div class="main">
             
    
    </div>-->  
    
    </body>
    </html> 
    